body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2B2B2B; /* Carbon Grau Hintergrund */
    color: #E0E0E0; /* Hellgrauer Text für gute Lesbarkeit */
}

header {
    background-color: #1A1A1A; /* Dunkleres Grau für den Header */
    color: #00FFFF; /* Cyan Textfarbe */
    padding: 20px; /* Größeres Padding für den Header */
    text-align: center;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.restaurant-logo {
    width: 300px; /* Größe des Logos anpassen */
    height: auto;
    border: 5px solid transparent; /* Umrandung */
    border-radius: 10px; /* Abgerundete Ecken für Logo-Umrandung */
    box-shadow: 0 0 15px 5px #00FFFF, /* Leichte Cyan Umrandung */
                0 0 30px 10px #00FFFF, /* Mittlere Cyan Umrandung */
                0 0 45px 15px #00FFFF; /* Stärkere Cyan Umrandung */
    transition: transform 0.3s, box-shadow 0.3s; /* Animationseffekte hinzufügen */
}

.restaurant-logo:hover {
    transform: scale(1.1); /* Vergrößert das Logo beim Hover-Effekt */
    box-shadow: 0 0 25px 10px #00FFFF, /* Intensivere Cyan Umrandung beim Hover */
                0 0 50px 20px #00FFFF, 
                0 0 75px 30px #00FFFF;
}

.container {
    display: flex;
    padding: 20px;
}

.menu-container {
    flex: 3;
    padding: 10px;
    background-color: #3A3A3A; /* Mittleres Grau für Menübereich */
    border-radius: 8px;
    margin-right: 10px;
}

.restaurant-selection {
    margin-bottom: 20px;
    text-align: center; /* Zentriert den Inhalt */
    
}

.restaurant {
    background-color: #2B2B2B;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s; /* Übergangseffekte hinzufügen */
    border: 2px solid transparent; /* Standardmäßig transparenten Rand festlegen */
}

.restaurant img {
    width: 100%; /* Bild füllt die Breite des Containers aus */
    max-width: 750px; /* Maximale Breite des Bildes */
    height: auto; /* Höhe wird automatisch angepasst, um das Seitenverhältnis beizubehalten */
    border-radius: 8px; /* Abgerundete Ecken */
    object-fit: cover; /* Schneidet das Bild, um das Seitenverhältnis zu füllen */
    transition: transform 0.3s; /* Übergangseffekte hinzufügen */
}

/* Hover-Effekt für das gesamte Restaurant-Element */
.restaurant:hover {
    transform: scale(1.05); /* Vergrößert das Restaurant leicht beim Hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Fügt einen leichten Schatten hinzu */
    border: 2px solid #00FFFF; /* Cyanfarbener Rand beim Hover */
}

/* Optional: Hover-Effekt nur für das Bild */
.restaurant img:hover {
    transform: scale(1.1); /* Vergrößert das Bild leicht beim Hover */
}

/* Stil für Restaurantinformationen */
.restaurant-info {
    padding: 10px;
}

.restaurant-info h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #E0E0E0; /* Standardfarbe des Namens */
    transition: color 0.3s; /* Übergang für die Farbänderung */
}
/* Hover-Effekt für den Restaurantnamen, wenn das Restaurant gehovered wird */
.restaurant:hover .restaurant-info h3 {
    color: #00FFFF; /* Neonblau für den Hover-Zustand */
}

.restaurant-info p {
    margin: 5px 0;
}

/* Spezifische Stile für die Beschreibung */
.restaurant-info .restaurant-description {
    margin-bottom: 10px; /* Fügt zusätzlichen Abstand unter der Beschreibung hinzu */
    color: #E0E0E0; /* Standardfarbe */
}

/* Spezifische Stile für die Lieferkosten */
.restaurant-info .restaurant-delivery {
    margin-top: 10px; /* Fügt zusätzlichen Abstand über den Lieferkosten hinzu */
    font-weight: bold; /* Hebt die Lieferkosten hervor */
    color: #00FFFF; /* Neonblau für Lieferkosten */
}

/* Optional: Anpassung des Abstands zwischen Bewertung und Beschreibung */
.restaurant-info .restaurant-rating {
    margin-bottom: 10px;
}
.restaurant-rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.star {
    font-size: 20px;
    color: #FFD700; /* Goldene Farbe für Sterne */
    margin-right: 2px;
}

.star.half {
    position: relative;
}

.star.half::before {
    content: '★';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: #FFD700;
}

.star.empty {
    color: #555; /* Gedämpfte Farbe für leere Sterne */
}

/* Stil für Speisenkategorien */
.dish-category {
    margin-bottom: 20px; /* Abstand zwischen den Kategorien */
}

.dish-category h4 {
    margin-bottom: 10px; /* Abstand zwischen der Kategorieüberschrift und den Speisen */
}

/* Flexbox-Stil für Speisen */
.dish-items {
    display: flex; /* Flexbox verwenden */
    justify-content: space-between; /* Platz zwischen den Speisen gleichmäßig verteilen */
    gap: 10px; /* Abstand zwischen den Speisen */
    flex-wrap: wrap; /* Speisen umbrechen, falls nötig */
}

.dish-item {
    background-color: #2B2B2B; /* Hintergrundfarbe für Speisen */
    border-radius: 8px; /* Abgerundete Ecken */
    padding: 10px;
    flex: 1 1 calc(33.333% - 10px); /* Jede Speise nimmt ein Drittel der Zeile ein, abzüglich der Lücken */
    text-align: center; /* Zentrierter Text */
    box-sizing: border-box; /* Einschließen von Padding und Rand in der Breite */
}

.dish-item img {
    width: 100%; /* Bild füllt die Breite des Containers aus */
    height: 150px; /* Einheitliche Höhe für alle Bilder */
    object-fit: cover; /* Schneidet das Bild zu, um das Seitenverhältnis zu erhalten */
    border-radius: 8px; /* Abgerundete Ecken für Bilder */
    margin-bottom: 10px; /* Abstand zwischen Bild und Speisenname */
}

/* Stil für Speisenname und Steuerungselemente */
.dish-item span {
    display: block; /* Block-Element für den Namen */
    margin-bottom: 5px; /* Abstand zwischen Name und Steuerungselementen */
}

/* Hover-Effekt für Speisen */
.dish-item:hover {
    transform: scale(1.05); /* Leichte Vergrößerung beim Hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Leichter Schatten beim Hover */
    border: 2px solid #00FFFF; /* Cyanfarbener Rand beim Hover */
}

.dish-item button {
    background-color: #1A1A1A; /* Dunkles Grau für die Buttons */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px; /* Abstand über den Buttons */
}

.dish-item button:hover {
    background-color: #01acac; /* Hover-Farbe für die Buttons */
}

/* Warenkorb-Elemente */
.cart-container {
    flex: 1;
    padding: 10px;
    background-color: #3A3A3A; /* Gleiches mittleres Grau für Warenkorb */
    border-left: 2px solid #00FFFF; /* Cyan Linie zur Trennung */
    border-right: 2px solid #00FFFF; /* Cyan Linie zur Trennung rechts */
    border-radius: 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    height: fit-content;
}

/* Stil für Warenkorb-Elemente */
.cart-item {
    display: flex; /* Flexbox verwenden */
    align-items: center; /* Zentriert die Items vertikal */
    justify-content: space-between; /* Platz zwischen den Elementen gleichmäßig verteilen */
    margin-bottom: 10px; /* Abstand zwischen den Warenkorb-Einträgen */
    padding: 10px;
    background-color: #3A3A3A; /* Hintergrundfarbe für die Warenkorb-Einträge */
    border-radius: 5px; /* Abgerundete Ecken */
}

.cart-item-quantity {
    color: #00FFFF; /* Cyan für die Anzahl der Speisen */
    font-weight: bold; /* Fett für bessere Sichtbarkeit */
    margin-right: 10px; /* Abstand zum Speisenname */
}

.cart-item-name {
    flex-grow: 1; /* Nimmt den verbleibenden Platz ein */
    text-align: left; /* Linksbündige Ausrichtung des Speisennamens */
}

.cart-item-controls {
    display: flex; /* Flexbox für die Kontrollbuttons */
    align-items: center; /* Zentriert die Buttons vertikal */
}

.cart-item-controls button {
    background-color: #1A1A1A; /* Dunkles Grau für die Buttons */
    color: white;
    border: none;
    padding: 5px;
    margin: 0 5px; /* Abstand zwischen den Buttons */
    border-radius: 3px;
    cursor: pointer;
}

.cart-item-controls button:hover {
    background-color: #00FFFF; /* Hover-Farbe für die Buttons */
}

.delivery-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.toggle-btn {
    background-color: grey; /* Standardfarbe für beide Buttons */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
    flex: 1;
    margin: 0 5px; /* Abstand zwischen den Buttons */
    border-radius: 5px; /* Abgerundete Ecken */
}

.toggle-btn.active {
    background-color: #00FFFF; /* Cyan Farbe für den aktiven Button */
}

.toggle-btn:not(.active) {
    background-color: #666; /* Grau für inaktiven Button */
    cursor: pointer;
}

/* Standardstil für den Bestell-Button */
#order-btn {
    background-color: grey; /* Standardfarbe */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed; /* Zeigt an, dass der Button nicht anklickbar ist */
    transition: background-color 0.3s; /* Smooth transition */
}

/* Aktiver Stil für den Bestell-Button, wenn die Mindestbestellung erreicht ist */
#order-btn.active {
    background-color: #00FFFF; /* Cyan */
    cursor: pointer; /* Zeigt an, dass der Button anklickbar ist */
}

/* Warenkorb Nachrichtentext */
#order-message {
    color: #FF0000; /* Farbe für Warnungen, z.B. rot */
    font-weight: bold; /* Fett für bessere Sichtbarkeit */
    margin-top: 10px; /* Abstand zum Bestell-Button */
    text-align: center; /* Zentriert den Text im Warenkorb */
    font-size: 14px; /* Neue Schriftgröße hinzufügen oder anpassen */
}

/*Footer*/
    footer {
        background-color: #1A1A1A; /* Dunkles Grau für den Footer */
        color: #E0E0E0; /* Hellgrauer Text */
        padding: 20px;
        text-align: center;
        position: relative;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .follow-us a {
        color: #00ffff; /* Türkis bzw. Neonblau */
        text-decoration: none; /* Optional: Entfernt die Unterstreichung */
    }
    
    .footer-content a:hover {
        color: #00ffff; /* Optional: Farbe beim Hover-Effekt */
        text-decoration: underline; /* Optional: Unterstreicht den Link beim Hover */
    }

    .footer-logo {
        display: flex;
        align-items: center;
    }

    .footer-logo-img {
        width: 100px; /* Größere Größe für das Footer-Logo */
        height: auto;
        filter: invert(73%) sepia(44%) saturate(7426%) hue-rotate(163deg) brightness(150%) contrast(90%); /* Filter für helles Cyan */
        transition: transform 0.3s;
    }

    .footer-logo-img:hover {
        transform: scale(1.1); /* Vergrößert das Footer-Logo beim Hover-Effekt */
    }

    .follow-us {
        margin-top: 20px;
    }

    .social-link {
        color: #00FFFF; /* Cyan für Links */
        margin: 0 10px;
        text-decoration: none;
    }

    .footer-links {
        margin-top: 20px;
        cursor: pointer;
    }

    .footer-links-content {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .footer-links-content a {
        color: #E0E0E0;
        margin: 5px 0;
        text-decoration: none;
    }



    .page-content {
        display: none;
        padding: 20px;
        background-color: #2B2B2B;
        color: #E0E0E0;
    }


/* Chat-Oberflächen-Stile */
    #chat-container {
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
    }

    #chat-window {
        background-color: #3A3A3A;
        border: 1px solid #00FFFF;
        border-radius: 8px;
        padding: 10px;
        height: 400px;
        overflow-y: auto;
        margin-bottom: 10px;
    }

    #chat-messages {
        display: flex;
        flex-direction: column;
    }

    .message {
        margin-bottom: 10px;
    }

    .message.user {
        align-self: flex-end;
        background-color: #1A1A1A;
        color: #E0E0E0;
        padding: 8px;
        border-radius: 8px;
        max-width: 80%;
    }

    .message.bot {
        align-self: flex-start;
        background-color: #00FFFF;
        color: #1A1A1A;
        padding: 8px;
        border-radius: 8px;
        max-width: 80%;
    }

    #chat-form {
        display: flex;
    }

    #chat-input {
        flex: 1;
        padding: 10px;
        border: 1px solid #00FFFF;
        border-radius: 5px 0 0 5px;
        background-color: #2B2B2B;
        color: #E0E0E0;
    }

    #chat-input::placeholder {
        color: #666;
    }

    #chat-form button {
        padding: 10px 20px;
        border: none;
        background-color: #00FFFF;
        color: #1A1A1A;
        cursor: pointer;
        border-radius: 0 5px 5px 0;
    }

    #chat-form button:hover {
        background-color: #01acac;
    }


    /* Allgemeine Formulareinstellungen - BestellApp.de*/
    form {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 20px auto;
    }

    form label {
        margin-top: 10px;
        color: #E0E0E0;
    }

    form input, form textarea {
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #00FFFF;
        border-radius: 5px;
        background-color: #2B2B2B;
        color: #E0E0E0;
    }

    form button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #00FFFF;
        color: #1A1A1A;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    form button:hover {
        background-color: #01acac;
    }

    /* Nachrichten nach Formularübermittlung */
    #recommend-message, #register-message, #driver-message, #job-message, #application-message {
        text-align: center;
        color: #00ff22;
        margin-top: 20px;
    }

    /* Stempelkarten-Stil */
    #stamp-progress {
        width: 100%;
        height: 20px;
        margin-top: 10px;
    }

    /* Rechtliche Texte */
    .legal-text {
        max-width: 800px;
        margin: 20px auto;
        text-align: left;
        line-height: 1.6;
        color: #E0E0E0;
    }
    .legal-text h3 {
        margin-top: 20px;
        color: #00FFFF;
    }
    .legal-text a {
        color: #00FFFF; /* Türkis bzw. Neonblau */
        text-decoration: underline; /* Optional: Unterstreicht die Links */
    }
    
    .legal-text a:hover {
        color: #009696; /* Optional: Andere Farbe beim Hover-Effekt */
    }

    /* Links im Jobs-Bereich anpassen */
    .jobs-section a {
        color: #00FFFF; /* Türkis bzw. Neonblau */
        text-decoration: underline; /* Optional: Unterstreicht die Links */
    }

    .jobs-section a:hover {
        color: #01acac; /* Etwas dunkleres Türkis beim Hover */
    }



/* Layout für Bildschirme unter 900px */
@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column; /* Setzt die Elemente untereinander */
        padding: 10px; /* Kleinere Polsterung für kleinere Bildschirme */
    }

    .menu-container,
    .cart-container {
        flex: 1 1 100%; /* Nimmt die gesamte Breite ein */
        margin-bottom: 20px; /* Abstand zwischen den Containern */
    }

    .menu-container {
        margin-right: 0; /* Entfernt den rechten Rand für kleinere Bildschirme */
    }

    .restaurant-selection {
        margin-bottom: 10px; /* Geringerer Abstand für mobile Ansicht */
    }

    .restaurant img {
        max-width: 100%; /* Volle Breite für Restaurantbilder */
    }

    .cart-container {
        padding: 15px; /* Etwas mehr Polsterung für den Warenkorb */
        border-radius: 8px; /* Beibehaltung der abgerundeten Ecken */
    }

    .dish-item {
        flex: 1 1 100%; /* Jedes Gericht nimmt die gesamte Breite ein */
    }

    .dish-items {
        flex-direction: column; /* Speisen werden untereinander angeordnet */
    }

    .dish-item img {
        width: 100%; /* Das Bild füllt die gesamte Breite des Containers */
    }

    /* Footer Links und Inhalte werden zentriert und in einer Spalte angezeigt */
    footer .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        margin-bottom: 20px; /* Mehr Platz für das Logo im Footer */
    }

    .footer-links-content {
        align-items: center; /* Links zentriert untereinander */
    }

    .footer-links-content a {
        margin: 5px 0; /* Abstand zwischen den Links */
    }
}

/* Layout für Bildschirme unter 600px */
@media screen and (max-width: 600px) {
    header {
        padding: 10px; /* Weniger Polsterung für den Header */
    }

    .restaurant {
        flex-direction: column;
        align-items: center;
    }

    .restaurant img {
        width: 100%;
    }

    .restaurant-info {
        padding: 0;
        text-align: center;
    }

    .restaurant-logo {
        width: 200px; /* Kleinere Größe für das Logo */
    }

    .cart-container {
        padding: 10px; /* Kleinere Polsterung für den Warenkorb */
        font-size: 14px; /* Kleinere Schriftgröße für mobile Geräte */
    }

    .cart-item-controls button {
        padding: 5px; /* Kleinere Buttons für die Steuerung */
    }

    .toggle-btn {
        padding: 5px; /* Kleinere Schaltflächen für den Toggle */
    }

    #order-btn {
        padding: 10px; /* Kleinere Schaltfläche für den Bestell-Button */
    }
}