/* ============================= */
/*         Cart Section          */
/* ============================= */

.cart-container {
    flex: 1;
    padding: 10px;
    background-color: var(--mid-bg-color);
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-radius: 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    height: fit-content;
    max-height: 80vh;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--mid-bg-color);
    border-radius: 5px;
}

.cart-item-quantity {
    color: var(--primary-color);
    font-weight: bold;
    margin-right: 8px;
}

.cart-item-name {
    flex-grow: 1;
    text-align: left;
    margin-right: 8px;
    white-space: nowrap; /* Verhindert Zeilenumbruch */
    font-size: clamp(14px, 2vw, 18px); /* Automatische Anpassung der Textgröße */
}

.cart-item-price {
    min-width: 80px;
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
    color: var(--primary-color);
}

.cart-item-controls {
    display: flex;
    align-items: center;
}

.cart-item-controls button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 5px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
}

.cart-item-controls button:hover {
    background-color: var(--primary-color);
}

.delivery-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.toggle-btn {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
    margin: 0 5px;
    border-radius: 5px;
}

.toggle-btn.active {
    background-color: var(--primary-color);
}

.toggle-btn:not(.active) {
    background-color: #666;
    cursor: pointer;
}

#order-btn {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    transition: background-color 0.3s;
}

#order-btn.active {
    background-color: var(--primary-color);
    cursor: pointer;
}

#order-message {
    color: var(--warning-color);
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

#order-confirmation {
    background-color: var(--success-bg-color);
    color: var(--success-text-color);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    text-align: center;
}
