/* ============================= */
/*             Footer             */
/* ============================= */

footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    position: relative;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Social media icons styling */
.follow-us a {
    text-decoration: none; /* No underline for social media links */
}

/* Adjust icon styling to not change color and only scale on hover */
.social-link img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.social-link img:hover {
    transform: scale(1.2); /* Increase size on hover */
}

/* Links in the footer (not social icons) should change color and be underlined on hover */
.footer-links-content a {
    color: var(--text-color); /* Default text color */
    margin: 5px 0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links-content a:hover {
    color: var(--primary-color); /* Change to cyan on hover */
    text-decoration: underline; /* Underline on hover */
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo-img {
    width: 100px;
    height: auto;
    filter: invert(73%) sepia(44%) saturate(7426%) hue-rotate(163deg) brightness(150%) contrast(90%);
    transition: transform 0.3s;
}

.footer-logo-img:hover {
    transform: scale(1.1); /* Logo enlarges on hover */
}

.follow-us {
    margin-top: 20px;
}

.social-link {
    margin: 0 10px;
    text-decoration: none; /* No underline for social icons */
}

/* Social media icons styling */
.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.social-icons img {
    width: 100%; /* Set the width to 100% of the parent container */
    height: 100%; /* Set the height to 100% to maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits within the bounds without distortion */
    transition: transform 0.3s ease;
}

/* Hover effect: only enlarge the icon */
.social-icons img:hover {
    transform: scale(1.2);
}

.footer-links {
    margin-top: 20px;
    cursor: pointer;
}

.footer-links-content {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

