/* ============================= */
/*        Hauptfarben Variablen   */
/* ============================= */

:root {
    --background-color: #2B2B2B; /* Carbon Grau Hintergrund */
    --text-color: #E0E0E0; /* Hellgrauer Text für gute Lesbarkeit */
    --primary-color: #00FFFF; /* Cyan Hauptfarbe */
    --secondary-color: #1A1A1A; /* Dunkleres Grau für Header und Footer */
    --mid-bg-color: #3A3A3A; /* Mittleres Grau für verschiedene Container */
    --highlight-color: #01acac; /* Leicht dunkleres Cyan für Hover-Effekte */
    --warning-color: #FF0000; /* Rot für Warnungen */
    --success-bg-color: #d4edda; /* Heller Grünton */
    --success-text-color: #155724; /* Dunkler Grünton für Text in Bestätigungsmeldungen */
    --border-color: #c3e6cb; /* Randfarbe für Bestätigungsmeldungen */
    --star-color: #FFD700; /* Goldene Farbe für Sterne */
}

/* ============================= */
/*        Allgemeine Stile        */
/* ============================= */

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* ============================= */
/*            Header              */
/* ============================= */

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.restaurant-logo {
    width: 300px;
    height: auto;
    border: 5px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px var(--primary-color),
                0 0 30px 10px var(--primary-color),
                0 0 45px 15px var(--primary-color);
    transition: transform 0.3s, box-shadow 0.3s;
}

.restaurant-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px 10px var(--primary-color),
                0 0 50px 20px var(--primary-color),
                0 0 75px 30px var(--primary-color);
}

/* ============================= */
/*            Container           */
/* ============================= */

.container {
    display: flex;
    padding: 20px;
}

.menu-container {
    flex: 3;
    padding: 10px;
    background-color: var(--mid-bg-color);
    border-radius: 8px;
    margin-right: 10px;
}
