@media screen and (max-width: 1850px) {
    .cart-item-name {
        font-size: 14px; /* Kleinere Schriftgröße für den Speisenname */
    }

    .cart-item-price {
        font-size: 14px; /* Kleinere Schriftgröße für den Preis */
    }

    .cart-item-quantity {
        font-size: 14px; /* Kleinere Schriftgröße für die Menge */
    }
}

@media screen and (max-width: 1700px) {
    .cart-item-name {
        font-size: 12px; /* Kleinere Schriftgröße für den Speisenname */
    }

    .cart-item-price {
        font-size: 12px; /* Kleinere Schriftgröße für den Preis */
    }

    .cart-item-quantity {
        font-size: 12px; /* Kleinere Schriftgröße für die Menge */
    }
}

@media screen and (max-width: 1600px) {
    .cart-item {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        font-size: 16px; 
    }

    .cart-item-name-price {
        display: flex;
        justify-content: space-between;
        width: 100%; 
    }

    .cart-item-controls {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%; 
    }

    .cart-item-controls button {
        flex-grow: 1; 
        margin: 0 5px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .menu-container,
    .cart-container {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .menu-container {
        margin-right: 0;
    }

    .restaurant-selection {
        margin-bottom: 10px;
    }

    .restaurant img {
        max-width: 100%;
    }

    .cart-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px; 
    }

    .cart-item-controls {
        margin-top: 0;
        display: flex;
        justify-content: flex-end;
        width: auto;
    }

    .cart-container {
        padding: 15px;
        border-radius: 8px;
    }

    .dish-item {
        flex: 1 1 100%;
    }

    .dish-items {
        flex-direction: column;
    }

    .dish-item img {
        width: 100%;
    }

    footer .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-links-content {
        align-items: center;
    }

    .footer-links-content a {
        margin: 5px 0;
    }
    
    #mobile-cart-btn {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    .restaurant {
        flex-direction: column;
        align-items: center;
    }

    .restaurant img {
        width: 100%;
    }

    .restaurant-info {
        padding: 0;
        text-align: center;
    }

    .restaurant-logo {
        width: 200px;
    }

    .cart-container {
        padding: 10px;
        font-size: 14px;
    }

    .cart-item-controls button {
        padding: 5px;
    }

    .toggle-btn {
        padding: 5px;
    }

    #order-btn {
        padding: 10px;
    }
}

@media screen and (max-width: 440px) {
    .cart-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item-name-price {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
    }

    .cart-item-controls {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 5px;
    }

    .cart-item-name {
        font-size: 14px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cart-item-price {
        font-size: 14px;
        margin-left: auto;
    }

    #cart-items {
        font-size: 14px;
    }
}


